
    a.button{display:inline-block; padding: 10px 20px; text-decoration:none; color:#fff; background:#000; margin:20px;}
    #modal{
        display:none;
        position:fixed; 
        width:100%; height:100%;
        top:0; left:0; 
        z-index: 90;
        background:rgba(0,0,0,0.3);
        }
    textarea{
    	resize:none;
    }
    .modal-con{
    display:none;
    
    position:fixed;
    top:45%; left:50%;
    transform: translate(-50%,-50%);
    max-width: 20%;
    min-height: 65%;
    background:#FAFAFA;
    z-index: 99;
    }
    .modal-con_1{
       
        max-width: 20%;
        min-height: 40%;
        background:#FAFAFA;
     }
    .modal-con_2{
       
        min-width: 40%;
        min-height: 40%;
        background:#FAFAFA;
    }    
    .modal-con .title {
    font-size:20px; 
    padding: 20px; 
    background :#FAFAFA;
    }
    
    .modal-con .con{
    font-size:15px; line-height:1.3;
    padding: 30px;
    }
    .con{
        padding-bottom: 0;
    }
    .modal-con .close{
    display:block;
    position:absolute;
    width:30px; height:30px;
    text-align:center; line-height: 30px;
    text-decoration:none;
    color:rgb(110, 108, 108); 
    right:10px; top:10px;
    
    font-weight:lighter;
    font-size: 2em;
    }
    .M_header{
        font-family: 'Jua', sans-serif;
        text-align: center;
        color: #212121;
        padding: 0;
        margin: 0;
    }
    #M_t{
        font-family: 'Jua', sans-serif;
        text-align: left;
        width: 90%;
        margin-left: 0.7%;
        height: 14px;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #E0E0E0;
       outline: 0;
    }
    .M_t{
        font-family: 'Jua', sans-serif;
        text-align: left;
        width: 90%;
        margin-left: 0.7%;
        height: 14px;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #E0E0E0;
       outline: 0;
    }
    .M_b{
        font-family: 'Jua', sans-serif;
        width: 40%;
        height: 44px;
        background-color: white;
        outline: 0;
        border:1px solid #E0E0E0;
        cursor: pointer;
    }
    .cheak_article{
        font-family: 'Jua', sans-serif;
        margin-top: 5%;
        margin-left: 1%;
    }
    .M_num1{
        min-width: 95%;
    }
    
    .M_login{
        text-align: center;
        font-family: 'Jua', sans-serif;
        border : 1px solid  #777575;
        width: 100%;
        height: 50px;
        margin-top: 5%;
        line-height: 50px;
        border-radius: 5px;
        margin-left: 1%;
        font-size: 1.3em;
        
    }
    .M_login_1{
        text-align: center;
        font-family: 'Jua', sans-serif;
        border : 1px solid  #777575;
        width: 100%;
        height: 50px;
        margin-top: 5%;
        line-height: 50px;
        border-radius: 5px;
        margin-left: 1%;
        font-size: 1.3em;
     
        
    }
    .M_login_2{
        width: 30%;
        margin-left: 35%;
    }
    .M_login_1:hover{
        background-color: #393939;
        color: white;
    }
    .M_login:hover{
        background-color: #393939;
        color: white;
    }
    .over_h{
        margin-top: 9%;
        width: 127%;
        height: 20px;
    }
    .over_h a{
        display: block;
        float: left;
        color:  #777575;
        font-family: 'Jua', sans-serif;
        text-decoration: none;
        width: 47%;
    }
    .float_l{
        margin-left: 0.7%;
        margin-right: 0%;
    }
    
    hr{
        margin-top: 12%;
    }
    .Belogin{
        text-align: center;
        color: white;
        width: 100%;
        height: 50px;
        margin-top: 15%;
        border-radius: 5px;
        margin-left: 1%;
        background-color: #8393A7;
        font-family: 'Jua', sans-serif;
        font-size: 1.3em;
        line-height: 50px;
    }
    
    .alert {
        padding: 0;
        display: inline-block;
        color: #F84A71;
        margin-left: 5px;
        margin-bottom: 0;
        border-left: 0;
        font-style: normal;
        }
    .agree_tit{
        font-size: 0.7em;
        position: relative;
        padding-left: 10px;
        display: inline-block;
        cursor: pointer;
        margin-top: 0.5px;
        vertical-align: text-top;  
    }
   .check{
    margin-top: 5%;
    margin-bottom: 5%;
   }
   .clearfix{
       width: 110%;
   }
   .float_a{
       margin-top: 7%;
       display: block;
       float: left;
       text-decoration: none;
       color: #393939;
       width: 43%;
       height: 50px;
       border : 1px solid  #777575;
       line-height: 50px;
       text-align: center;
       font-family: 'Jua', sans-serif;
       line-height: 50px;
   }
   .float_a:hover{
       color: white;
       background-color: #393939;
   }
   .float_a:first-child{
       margin-right: 4%;
   }
   .alert_l
   {
       width: 100%;
       height: 30px;
   }
   .l_name{
       display: block;
       margin: 6% 1%;
    
   }
   .l_name>span{
       color:#F37474;
       font-size: 2.3em;
       line-height: 50px;
       position: absolute;
       top: 324.7px;
       padding-left: 2%;
   }
  
   .jbtn{
        min-height: 50px;
        margin-top: 5%;
        line-height: 20px;
        min-width: 100.4%;
        text-align: center;
        position: relative;
        left: -1.7px;
        border: 0;
        background-color: #212121;
        color: white;
        text-align: center;
   }
     .jbtn_1{
        min-height: 50px;
        margin-top: 5%;
        line-height: 20px;
        min-width: 100.4%;
        text-align: center;
        position: relative;
        left: -1.7px;
        border: 0;
        background-color: #212121;
        color: white;
        text-align: center;
   }
   .jbtn_2{
        min-height: 50px;
        margin-top: 5%;
        line-height: 20px;
        min-width: 100.4%;
        text-align: center;
        position: relative;
        left: -1.7px;
        border: 0;
        background-color: #212121;
        color: white;
        text-align: center;
   }
    .jbtn_3{
        min-height: 50px;
        margin-top: 5%;
        line-height: 20px;
        min-width: 100.4%;
        text-align: center;
        position: relative;
        left: -1.7px;
        border: 0;
        background-color: #212121;
        color: white;
        text-align: center;
   }
   .M_num ,.M_phone{
       font-size: 1.3em;
   }
   .find_wrap{
       width: 380.594px;
       height: 50px;
      
   }
   .find_btn{
    font-family: 'Jua', sans-serif;
    width: 160px;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #757575;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background-color: #F3F3F3;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #212121;
   }
   .f_pw{
       margin-left: -3px;
   }
   .find_btn.active{
        color: #212121;
        background-color: #FFFFFF;
        border-right: 1px solid #212121;
        border-left: 1px solid #212121;
        border-top: 1px solid #212121;
        border-bottom: 1px solid #ffffff;
        
   }
   
   .enter_info{
       position: relative;
       margin-top: 15%;
   }
   .find_find{
        font-family: 'Jua', sans-serif;
       width: 320px;
       height: 50px;
       font-size: 14px;
       border-radius: 2px;
       border: 1px solid #757575;
       margin-left: 1%;
       margin-top: 15%;
   }
   .find_find:hover{
       background-color: #393939;
       color: white;
   }